<footer class="footer">
    <ul class="footer__lista-redes">
        <li class="footer__lista-redes__item">
            <a href="mailto:juancarloshoyoscabarique@gmail.com" class="footer__lista-redes__link" target="_blank">
                <i class="far fa-paper-plane icon-nav"></i>
            </a>
        </li>

        <li class="footer__lista-redes__item">
            <a href="https://wa.link/l2h6uz" class="footer__lista-redes__link" target="_blank">
                <i class="fab fa-whatsapp icon-nav"></i>
            </a>
        </li>

        <li class="footer__lista-redes__item">
            <a href="https://www.instagram.com/hoyos.cabarique/" class="footer__lista-redes__link" target="_blank">
                <i class="fab fa-instagram icon-nav"></i>
            </a>
        </li>
    </ul>

    <p class="footer__autor">© {{ anio }} Juan Carlos Hoyos Cabarique</p>
</footer>