<div class="conoceme">
    <h2 class="conoceme__titulo" id="conoceme"><i class="far fa-smile-beam"></i> Conoceme</h2>
    <p class="conoceme__descripcion">Como ya mencione antes mi nombre es Juan Carlos Hoyos. Tengo 22 años y estoy en mi ultimo semestre
        de ingenieria de sistemas en la Universidad del Norte en Barranquilla, Colombia. Me gusta la programación y sobretodo
         la programación web, en la cual paso la mayor parte de mi tiempo trabajando o aprendiendo. Aunque aún estoy
        al comienzo del mundo freelancer, prometo hacer tus proyectos tal cual como los imaginaste. <a class ="conozcamonos" href="#contacto">así que conozcamonos!!</a></p>
    <div class="imagen__apreton mr-auto ml-auto">
        <img src="https://i.imgur.com/d4D14r5.png"
            alt="apreton" class = "contacto__img">
    </div>
</div>