.conoceme {
    padding: 0px 70px;
    margin-bottom: var(--mb-components);
}

.conoceme__titulo, .conoceme__descripcion {
    position: relative;
    font-size: var(--font-size-titulo);
    color: var(--bg-banner);
    text-align: center;
    margin: 0;
    margin-bottom: var(--mb-titulo);
}

.conoceme__titulo::before {
    content: '';
    display: block;
    width: 200px;
    height: 2px;
    background-color: #D52327;
    position: absolute;
    top: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    margin-top: 10px;
}

.conozcamonos {
    color: #D52327;
}

.conoceme__descripcion {
    font-size: var(--font-size-descripcion);
    margin-bottom: var(--mb);
}

.imagen__apreton {
    width: 250px;
}

.contacto__img {
    width: 100%;
}

@media screen and (max-width: 800px) {
    .conoceme {
        padding: 0px 30px;
    }
}