<section class="contacto" id="contacto">
    <h2 class="contacto__titulo">contacto</h2>
    <p class="contacto__descripcion">Si te gusto alguno de mis trabajos y estas interesado en contratarme,
        puedes
        contactarme via <a
            href="mailto:juancarloshoyoscabarique@gmail.com?Subject=Estoy%20interesado%20en%20tus%20servicios"
            class="contacto__correo"> correo electronico</a> o puedes enviarme un mensaje por Whatsapp.
        Conozcamonos
        y hagamos tus proyectos realidad.</p>

    <div class="contacto__saludo">
        <i class="fas fa-handshake saludo" id="saludo"></i>
    </div>

    <form class="contacto__formulario">
        <h3 class="contacto__formulario__titulo">Conoceme</h3>
        <textarea name="" id="" cols="30" rows="10" placeholder="Escribe un mensaje..." class="contacto__text-area"
            id="contacto__mensaje"></textarea>
        <input type="button" class="contacto__btn" (click)="enviarMensaje()" value="Enviar mensaje">

    </form>
</section>