<div class="servicio__contenedor__descripcion">
    <h2 class="servicios__titulo" id="servicios">Servicios</h2>
    <p class="servicios__descripcion">Conoce todos los servicios que ofrezco y si quieres tener más detalles de cada
        uno de ellos, dandole click a las imagenes podras ver la descripcion de cada servicio.</p>
</div>
<section class="services">
    <div class="services__card">
        <div class="services__card__front" (click)="abrir('services__card__back-1')">
            <img src="https://i.imgur.com/yktM0uX.jpg" alt="" class="services__card__img">
        </div>
        <div class="services__card__back" (click)="cerrar('services__card__back-1')" id="services__card__back-1">
            <p class="services__card__back__titulo">Java</p>
            <p class="services__card__informacion">¿Quieres una aplicación de escritorio hecha en Java?. Con este
                servicio la puedes tener.</p>
        </div>
    </div>

    <div class="services__card">
        <div class="services__card__front" (click)="abrir('services__card__back-2')">
            <img src="https://i.imgur.com/k6aSqgJ.png" alt="" class="services__card__img">
        </div>
        <div class="services__card__back" (click)="cerrar('services__card__back-2')" id="services__card__back-2">
            <p class="services__card__back__titulo">Python</p>
            <p class="services__card__informacion">¿Quieres una aplicación de escritorio hecha en Python?. con este
                servicio la puedes tener.</p>
        </div>
    </div>

    <div class="services__card">
        <div class="services__card__front" (click)="abrir('services__card__back-3')">
            <img src="https://i.imgur.com/EzzxyoV.png" alt="" class="services__card__img">
        </div>

        <div class="services__card__back" (click)="cerrar('services__card__back-3')" id="services__card__back-3">
            <p class="services__card__back__titulo">Javascript</p>
            <p class="services__card__informacion">Si quieres añadirle dinamismo a tu pagina web, que ya no sea solo
                estatica, este servicio es para ti.</p>
        </div>
    </div>

    <div class="services__card">
        <div class="services__card__front" (click)="abrir('services__card__back-4')">
            <img src="https://i.imgur.com/OON8Ux3.png" alt="" class="services__card__img">
        </div>
        <div class="services__card__back" (click)="cerrar('services__card__back-4')" id="services__card__back-4">
            <p class="services__card__back__titulo">Maquetación web</p>
            <p class="services__card__informacion">Si tienes el mockup de una pagina web y quieres pasarla a HTML y CSS,
                soy el indicado. 100% responsive, 100% igual a tu diseño.</p>
        </div>
    </div>

    <div class="services__card">
        <div class="services__card__front" (click)="abrir('services__card__back-5')">
            <img src="https://i.imgur.com/4shIJAb.jpg" alt="" class="services__card__img">
        </div>
        <div class="services__card__back" (click)="cerrar('services__card__back-5')" id="services__card__back-5">
            <p class="services__card__back__titulo">Node Js</p>
            <p class="services__card__informacion">Tambien me desarrollo en Javascript del lado del servidor, si quieres
                desarrollar api's, base de datos y entre otros aplicativos Backend.</p>
        </div>
    </div>

    <div class="services__card">
        <div class="services__card__front" (click)="abrir('services__card__back-6')">
            <img src="https://i.imgur.com/uGpPqSk.png" alt="" class="services__card__img">
        </div>
        <div class="services__card__back" (click)="cerrar('services__card__back-6')" id="services__card__back-6">
            <p class="services__card__back__titulo">Angular</p>
            <p class="services__card__informacion">Si requires una pagina hecha con uno de
                los frameworks más populares de Javascript. Si quieres que tu pagina sea una SPA, soy el indicado.</p>
        </div>
    </div>

</section>