.menu-circular {
    position: fixed;
    right: var(--tamaño-button);
    bottom: var(--tamaño-button);
    z-index: 200;
    width: var(--tamaño-button);
    height: var(--tamaño-button);
}

.menu-circular__button {
    background-color: var(--bg-color-button);
    color: var(--color-texto);
    font-size: var(--font-size-item);
    position: absolute;
    width: var(--tamaño-button);
    height: var(--tamaño-button);
    border-radius: 50%;
    border: none;
    outline: none;
    cursor: pointer;
    z-index: 100;
    transform: rotateZ(-45deg);
    box-shadow: 0 0 5px 2px var(--bg-banner-transparent);
    transition: transform .5s linear;
    z-index: 10;
}


.menu-circular__lista {
    position: absolute;
    left: -100%;
    top: -100%;
    width: var(--tamaño-menu);
    height: var(--tamaño-menu);
    background-color: var(--bg-color-menu);
    border-radius: 50%;
    padding: 0;
    margin: 0;
    transform: scale(0);
    transition: transform 1s linear;
    box-shadow: 0 0 5px 2px var(--bg-color-menu-transparent);
    z-index: 1;
}

.menu-circular__item{
    position: absolute;
    display: block;
    width: var(--font-size-item);
    height: var(--font-size-item);
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    font-size: var(--font-size-item);
    list-style: none;
    cursor: pointer;
}

.menu-circular__link {
    color: var(--color-texto);
    font-size: var(--font-size-item);
}


.menu-circular__item:hover {
    text-shadow: 1px 1px 10px var(--color-texto);
}


.menu-circular__item:first-child {
    margin: 0 auto;
    top: 10px;
}

.menu-circular__item:nth-child(2) {
    margin: auto  0 auto auto;
    right: 10px;
}

.menu-circular__item:nth-child(3) {
    margin: auto 0;
    left: 10px;
}

.menu-circular__item:nth-child(4) {
    margin: auto auto 0 auto;
    bottom: 10px;
}

