<div class="menu-circular">
    <button class="menu-circular__button" id="menu-circular__button" (click) = "abrirCerrar()"><i class="fas fa-times"></i></button>
    <ul class="menu-circular__lista" id="menu-circular__lista">
        <li class="menu-circular__item"><a href="https://wa.link/l2h6uz" target="_blank" class = "menu-circular__link"><i class="fab fa-whatsapp"></i></a></li>
        <li class="menu-circular__item"><a href="mailto:juancarloshoyoscabarique@gmail.com" target="_blank" class = "menu-circular__link"><i class="far fa-paper-plane"></i></a></li>
        <li class="menu-circular__item"><a href="https://www.instagram.com/hoyos.cabarique" target="_blank" class = "menu-circular__link"><i class="fab fa-instagram"></i></a></li>
        <li class="menu-circular__item"><a href="https://github.com/JuanHoyosC" target="_blank" class = "menu-circular__link"><i class="fab fa-github"></i></a></li>
    </ul>
</div>