<header class="banner-portafolio" id = "inicio">
    <div class="banner-portafolio__informacion" id="banner-info">
        <h1 class="banner-portafolio__titulo" id="banner-portafolio__title"></h1>
        <p class="banner-portafolio__descripcion">Hola. Mi nombre es Juan Carlos Hoyos, vivo en Barranquilla,
            Colombia. Tengo 22 años y soy ingeniero de sistemas, en mi portafolio encontraras algunos de mis servicios
            y trabajos como profesional. Si quieres conocerme no olvides en contactarme.</p>
        <ul class="banner-portafolio__lista-redes">
            <li class="banner-portafolio__lista-redes__item"><a href="mailto:juancarloshoyoscabarique@gmail.com" class="banner-portafolio__lista-redes__link"
                    target="_blank"><i class="far fa-paper-plane icon-nav"></i></a></li>
            <li class="banner-portafolio__lista-redes__item"><a href="https://wa.link/l2h6uz"
                    class="banner-portafolio__lista-redes__link" target="_blank"><i
                        class="fab fa-whatsapp icon-nav"></i></a></li>
            <li class="banner-portafolio__lista-redes__item"><a href="https://www.instagram.com/hoyos.cabarique/" class="banner-portafolio__lista-redes__link"
                    target="_blank"><i class="fab fa-instagram icon-nav"></i></a></li>
        </ul>
    </div>
    <div class="banner-portafolio__imagen">

    </div>
</header>