<section class="trabajos" id="trabajos">
    <h2 class="trabajos__titulo titulos">Trabajos</h2>
    <p class="trabajos__descripcion">Mira algunos de los trabajos que he realizado a lo largo de mi vida, podras ver
        trabajos tanto web como de esritorio. Explora cada uno de ello y si te gusto mi trabajo, no olvides en
        contactarme.</p>

    <div class="trabajos__card">
        <div class="trabajos__card_imagenes">
            <img src="https://i.imgur.com/I51A8f7.png" alt="domino-java-img" class="trabajos__card__img">
        </div>

        <div class="trabajos__card__informacion">
            <h3 class="trabajos__card__informacion__titulo">Domino en Java</h3>
            <p class="trabajos__card__informacion__descripcion">Este fue el primer trabajo que hice como freelancer,
                consistia basicamente en crear un juego de domino, ya sea 1vs1 o 1vs2. Se podia registrar usuarios,
                loguear usuarios,
                y esto a la vez jugar contra una maquina o dos maquinas, al final se guardaban las partidas ganadas en
                una base de datos.</p>

            <div class="trabajos__card__informacion__enlaces">
                <a href="" class="trabajos__card__informacion__ir"><i class="far fa-eye"></i> Ir a la pagina</a>
                <a href="" class="trabajos__card__informacion__ver"><i class="fab fa-github"></i> Ver codigo</a>
            </div>
        </div>

    </div>


</section>