<nav class="navegacion-portafolio">

    <li class="navegacion-portafolio__title"><a href="#" class="navegacion-portafolio__title-link">Juan Carlos
            Hoyos</a></li>
    <button class="navegacion-portafolio__button" id="navegacion-portafolio__button" (click) = "abrir()"><i
            class="fas fa-bars"></i></button>
    <ul class="navegacion-portafolio__lista" id="navegacion-portafolio__lista" (click) = "cerrar()">
        <li class="navegacion-portafolio__lista__item"><a href="#inicio"
                class="navegacion-portafolio__link">Inicio</a></li>
        <li class="navegacion-portafolio__lista__item"><a href="#conoceme"
                class="navegacion-portafolio__link">Conoceme</a></li>
        <li class="navegacion-portafolio__lista__item"><a href="#servicios" class="navegacion-portafolio__link">servicios</a>
        </li>
        <li class="navegacion-portafolio__lista__item"><a href="#trabajos" class="navegacion-portafolio__link">Trabajos</a>
        </li>
        <li class="navegacion-portafolio__lista__item"><a href="#contacto" class="navegacion-portafolio__link">Contacto</a>
        </li>
        <li class="navegacion-portafolio__lista__item">
            <div class="navegacion-portafolio__lista__item-icons">
                <a href="mailto:juancarloshoyoscabarique@gmail.com" class="navegacion-portafolio__link" target="_blank"><i class="far fa-paper-plane icon-nav"></i></a>
                <a href="https://wa.link/l2h6uz" class="navegacion-portafolio__link" target="_blank"><i class="fab fa-whatsapp icon-nav"></i></a>
                <a href="https://www.instagram.com/hoyos.cabarique/" class="navegacion-portafolio__link" target="_blank"><i class="fab fa-instagram icon-nav"></i></a>
            </div>
        </li>
    </ul>
</nav>